@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --backgroundColor: #384B70;
  /* --backgroundColor: rgb(56, 55, 55); */
  --textColor:#FCFAEE;
  /* --secondaryColor:#507687; */
  --secondaryColor:#607090;
  --lightSecondaryColor:#6A9AB0;
}
#root{
  font-family: 'Roboto', sans-serif;

}
/* body{
  background-color: rgb(56, 55, 55) !important;
} */
/* SideBar */
.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 30px;
}
.sidebar-header-btn{
  background: none;
  border:  none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  color: var(--textColor);
}
.sidebar-nav{
  width: 100%;
  overflow: hidden;
}
.sidebar-item{
  width: 100%;
  padding: 1rem 0;
  padding-left: 10%;
  display: flex;
  font-size: 1.2rem;
  font-weight: 800;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
}
.sidebar-item:hover{
  background-color: rgba(255, 255, 255, 0.288);
}
.sidebar-item-active{
  width: 100%;
  padding: 1rem 0;
  padding-left: 10%;
  display: flex;
  font-size: 1.2rem;
  font-weight: 800;
  gap: 2rem;
  align-items: center;
  background-color: #7185ad;
  cursor: pointer;
}
.sidebar-logout-container{
  position: absolute;
  bottom: 2rem;
}
/* common for all Pages */
.page-header{
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title{
  font-size: 1.7rem;
  font-family: 'Roboto', sans;
  font-weight: 700;
  margin: 10px;
  color: var(--lightSecondaryColor);
}
.ProfileBtn{
  margin-right: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-content{
  margin-top: 1.5rem;
  /* padding: 1rem; */
}
.table-data{
  max-width: 200px!important;
}
.signUpContainer{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}
.form-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title h2, .title h5{
  margin: 1rem;
  font-family: 'Poppins', sans-serif!important;
  font-weight: 500;
}
.very-large-heading{
  font-size: 6rem;
  margin: 1rem;
  font-family: 'Poppins', sans-serif!important;
  text-align: center;
}
.error-subtitle{
  text-align: center;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif!important;
}
.error-body{
  margin: 1rem;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif!important;
}
.error-btn{
  width: 30%;
  margin: auto;

}
.table-data{
  font-size: 0.9rem!important;
  font-family: "Poppins"!important;
}
.profile-subtitle{
color:#6A9AB0;
font-family: "Poppins", sans-serif;
font-weight: 600;
}
.profile-Link{
  color: var(--secondaryColor)!important;
  text-decoration: none!important;
  font-size: 16.5px;
}
.SearchContainer{
  display: flex;
  align-items: center;

}
.table-container{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}
.table-header{
  background-color: var(--secondaryColor);
  color: white!important;
}
.table-header-data{
  color: white!important;
  font-family: 'Roboto',sans-serif!important;
  font-size: 1.2rem;
  font-family: "Poppins"!important;
  font-weight: 700!important;
  font-size: 1.1rem!important;
  max-width:100px ;
}
.tabs{
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;

}
.dashboardActive{
  position: relative;
  /* bottom: 20px; */
  width: 80%;
  border-bottom: 1.75px solid white;
  margin:0rem;
}
/* profile popover */
.popover-content{
  max-width: 275px;
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  /* padding: 1rem; */
  border-radius: 5px;
}
.popover-Profile-info-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.popover-content{
  display: flex;
  flex-direction: column;
  font-size:15px;
  font-family: 'roboto', arial, helvetica;
}
.profile-info-item{
  display: flex ;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}
.profile-info-item-container{
  padding: 0.7rem 1rem ;
}
.profile-info-item-container:hover{
  background-color: rgba(175, 173, 173, 0.486);
  cursor: pointer;
}

@media only screen and (max-width: 400px)  {
  .page-content{
    padding: 0.5rem;
  }
  .paper-inside-content{
    padding: 0!important;
  }
}