@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --backgroundColor: #384B70;
  --textColor:#FCFAEE;
  --secondaryColor:#507687;
  --lightSecondaryColor:#6A9AB0;
}
#root{
  font-family: 'Roboto', sans-serif;
  
}
/* SideBar */
.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 30px;
}
.sidebar-header-btn{
  background: none;
  border:  none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  color: var(--textColor);
}
.sidebar-nav{
  width: 80%;
}
.sidebar-item{
  width: 100%;
  margin: 1.5rem auto;
  display: flex;
  font-size: 1.2rem;
  font-weight: 800;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
}
.sidebar-logout-container{
  position: absolute;
  bottom: 2rem;
}
/* common for all Pages */
.page-header{
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.page-title{
  font-size: 1.7rem;
  font-family: 'Roboto', sans;
  font-weight: 700;
  margin: auto;
  color: var(--lightSecondaryColor);
}
.page-content{
  margin-top: 1.5rem;
  /* padding: 1rem; */
}
.table-data{
  max-width: 200px!important;
}
.signUpContainer{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}
.form-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title h2, .title h5{
  margin: 1rem;
  font-family: 'Poppins', sans-serif!important;
  font-weight: 500;
}
.very-large-heading{
  font-size: 6rem;
  margin: 1rem;
  font-family: 'Poppins', sans-serif!important;
  text-align: center;
}
.error-subtitle{
  text-align: center;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif!important;
}
.error-body{
  margin: 1rem;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif!important;
}
.error-btn{
  width: 30%;
  margin: auto;

}
.table-header-data{
  font-size: 1.2rem;
}